<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="keywords" value="Custom T-shirt Store,Embroidery Shop,Screen Printer,Print Shop,T-shirt Company,Commercial Printer,T-shirt Store,Promotional Products Supplier,Sign Shop,Embroidery Service"/>
    <add key ="googlePlacesApiKey" value="AIzaSyACqi2LDPwv2L4MzTRZLwHIRzs3dZfTXsE"/>
    <!--AIzaSyBS7fTtasojdv7gS5JJR-s2ITTb_gXgv_U -->
    <add key ="radius" value="10000"/>
    <add key ="coordinateSource" value="../../../data/us_postal_codes.csv"/>
  </appSettings>
</configuration>