<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="keywords" value="Custom T-shirt Store,Embroidery Shop,Screen Printer,Print Shop,T-shirt Company,Commercial Printer,T-shirt Store,Promotional Products Supplier,Sign Shop,Embroidery Service"/>
  </appSettings>
</configuration>